# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Eclipse
/.classpath
/.project
/.settings/
/bin/
/build/

# Logs
logs
*.log

# Misc
.DS_Store

# Local env files
.env
.env.*
!.env.example

# IDE specific files
.idea
.vscode
